body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 2rem;
  color: white;
}

.contenedor-noticias{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.noticia {
  background-color: #222;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.noticia img {
  width: 100%;
  height: 180px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.noticia h2 {
  font-size: 1.2rem;
  margin: 5px 0;
  color: red;
}

.noticia p {
  font-size: 0.9rem;
  line-height: 1.4;
  margin: 5px 0;
   color: white;
}

.noticia small {
  font-size: 0.8rem;
  color: gray;
  margin-bottom: 10px;
}

